.idea
.venv
.vscode
.vs_code
__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
*/*/*/*/*/__pycache__
*.sqlite3
mirations
*/mirations
*/*/mirations
*/*/*/mirations
*/*/*/*/mirations
*/*/*/*/*/mirations
